<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.j2.faxqa.efax.common">
	<Properties>
		<Property name="output_directory">target/surefire-reports</Property>
		<Property name="logFileName">selenium_execution</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
		</Console>
		<File name="logfile"
			fileName="${output_directory}/${logFileName}.log">
			<PatternLayout
				pattern="[%highlight{%-5level}] [%d{DEFAULT}] [%c{10}.%M()] - %msg%n%throwable{short.lineNumber}" />
		</File>
		<TestNGReportAppender name="TestNGReportAppender">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level: %msg" />
		</TestNGReportAppender>
	</Appenders>
	<Loggers>
		<logger name="org.apache" level="ERROR" />
		<logger name="httpclient" level="ERROR" />
		<Root level="INFO">
			<AppenderRef ref="console" />
			<AppenderRef ref="logfile" />
			<AppenderRef ref="TestNGReportAppender" />
		</Root>
	</Loggers>
</Configuration>